/* Tipografía */
* {
    font-family: "Courier New";
}

h1 {
    font-size: 40px;
    background-color: #5799b3;
    text-align: center;
    padding: 10px;
}

h2 {
    background-color: #afd5e5;
    text-align: center;
    padding: 5px;
    margin: 15px 0px;
}

p {
    text-align: justify;
}

.dark p.cambio-color { /* Este cambia porque su padre (body) obtiene la clase dark */
    color: white;
}

button {
    font-size: 16px;
}

body {
    background-color: white;
    margin: 0;
}

body.dark {
    background-color: rgb(57, 57, 57);
}

/* Header */
header {
    background-color: black;
    display: flex;
    width: 100%;
    align-items: center;
    align-content: space-between;
}

#logo-web {
    display: flex;
}

nav {
    display: flex;
    align-content: flex-end;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: 10px;
}

.navegacion {
    color: white;
    text-decoration: none;
    margin: 5px 10px;
    display: block;
}

.navegacion:hover {
    text-decoration: underline;
}

#selector-nav {
    display: none;
}

#nombre-web {
    font-size: 20px;
    background-color: black;
    color: white;
}

/* Sección de tarjetas */
.contenedor-tarjetas {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    margin: 10px;
}

.contenedor-tarjetas div {
    background-color: #c9d6ff;
    padding: 0px 10px;
    box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.2)
}

.titulo-tarjeta {
    border-style: none none dashed none;
    text-align: center;
    border-width: 2px;
}

.tarjeta1 {
    grid-column: 1 / span 1;
}

.tarjeta2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.tarjeta3 {
    grid-column: 3 / span 1;
}

.tarjeta4 {
    grid-column: 1 / span 3;
}

/* Reviews */
.contenedor-reviews {
    display: flex;
    column-gap: 10px;
    margin: 10px;
}

.review {
    background-color: #c9d6ff;
    padding: 15px;
    align-items: center;
}

.review-autor {
    padding-left: 10px;
    font-weight: bold;
}

.review-texto {
    background-color: whitesmoke;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.2)
}

/* Footer */
footer {
    background-color: #afd5e5;
}

#contacto {
    font-size: 14px;
    text-align: center;
}

.redes-sociales {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    column-gap: 10px;
}

/* Media queries: Al final porque CSS funciona en cascada */
@media only screen and (max-width: 800px) {
    header {
        gap: 10px;
        flex-direction: column;
    }
    nav {
        flex-direction: column;
        margin-left: 0;
    }
    .contenedor-tarjetas {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    .contenedor-reviews {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    #selector-nav {
        display: block;
    }
    .navegacion {
        display: none;
    }
    .nav-visible.navegacion {
        display: block;
    }
}