* {
    font-family: "Courier New";
}

header {
    background-color: black;
}

footer {
    background-color: #afd5e5;
}

h1 {
    font-size: 40px;
    background-color: #5799b3;
    text-align: center;
    padding: 10px;
}

h2 {
    background-color: #afd5e5;
    text-align: center;
    padding: 5px;
}

p {
    text-align: justify;
}

p#contacto {
    font-size: 14px;
    text-align: center;
}

button {
    font-size: 16px;
}

nav {
    background-color: #5799b3;
}

a#navegacion {
    color: white;

}

p.servicios {
    display: grid;
}

span {
    background-color: green;
    padding: 30px;
    width: 100px;
    height: 100px;
}

.tarjetas {
    width: 100%;
    overflow: auto;
}

.tarjetas div {
    background-color: lightblue;
    width: 30%;
    float: left;
    margin: 0px 10px;
    padding: 0px 10px;
}

.tarjetas div p, .tarjetas div h3 {
    text-align: center;
}