* {
    font-family: "Courier New";
}

header {
    background-color: black;
}

footer {
    background-color: #afd5e5;
}

h1 {
    font-size: 40px;
    background-color: #5799b3;
    text-align: center;
    padding: 10px;
}

h2 {
    background-color: #afd5e5;
    text-align: center;
    padding: 5px;
}

p {
    text-align: justify;
}

p#contacto {
    font-size: 14px;
    text-align: center;
}

button {
    font-size: 16px;
}

nav {
    background-color: #5799b3;
}

a#navegacion {
    color: white;

}

p.servicios {
    display: grid;
}

.tarjetas {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
}

.tarjetas div {
    background-color: #c9d6ff;
    padding: 0px 10px;
}

.tarjetas div p, .tarjetas div h3 {
    text-align: center;
    grid-template-columns: auto auto auto;
}

.tarjeta1 {
    grid-column: 1 / span 1;
}

.tarjeta2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.tarjeta3 {
    grid-column: 3 / span 1;
}

.tarjeta4 {
    grid-column: 1 / span 3;
}