h2 {
    color: var(--color-primary);
    text-justify: center;
}

.banner-principal {
    background-image: url("images/banner-principal.webp");
    background-size: cover;
    background-position: center;
    min-height: 500px;
    align-content: center;
}

.banner-principal p {
    font-family: Verdana, sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 10px;
    text-shadow: 2px 2px #050505;
}

.contenedor-pasos img {
    width: 64px;
    height: 64px;
}

.sm-icon {
    width: 48px;
    height: 48px;
}

footer p {
    text-justify: center;
    z-index: 20;
}

@media not all and (min-width: 768px) {
    h2 {
        text-wrap: wrap;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}