h1, h2, h3 {
    font-family: Verdana, sans-serif;
}

h1 {
    margin-left: 10px;
    color: var(--background);
    font-size: 26px;
}

.banner-principal {
    background-image: url("images/banner-principal.webp");
    background-size: cover;
    background-position: center;
    min-height: 500px;
    align-content: center;
}

.banner-principal p {
    font-family: Verdana, sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 10px;
    text-shadow: 2px 2px #050505;
}